<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog</title>
</head>

<body class="bg-gray-200">
	 <div class="py-8 bg-gray-300 text-xl min-h-screen">
			<nav class="flex justify-center pb-20 space-x-20">
				<a href="/" class="font-medium  text-gray-500 hover:text-gray-900">Home</a>
				<a href="/pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
				<a href="/blog" class="font-medium text-gray-500 hover:text-gray-900">Blog</a>				
				<a href="/login" class="font-medium text-gray-500 hover:text-gray-900">Login</a>
				<a href="/signup" class="font-medium text-white hover:bg-blue-600 bg-blue-500 px-3 py-2 -mt-2 rounded-lg">Sign up</a>
			</nav>

		<h1 class="mt-10 text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
			Blog
		</h1>
        

		<div class="mt-20 mx-auto text-center max-w-4xl px-10">

		<div class="mb-10 p-8 text-center   bg-white border border-gray-200 rounded-2xl shadow-xl flex flex-col">
        <p class="mb-6 text-gray-400 uppercase text-sm">Jan 06 2022</p>
        <h3 class="text-3xl font-semibold text-gray-900">News</h3>
        <p class="mt-6 px-10 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae provident ullam corporis cumque vero, aut perspiciatis </p>
        </div>

        <div class="mb-10 p-8 bg-white border border-gray-200 rounded-2xl shadow-xl flex flex-col">
        <p class="mb-6 text-gray-400 uppercase text-sm">Jan 16 2021</p>
        <h3 class="text-3xl font-semibold text-gray-900">News 2</h3>
        <p class="mt-6 px-10  text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae provident ullam corporis cumque vero, aut perspiciatis </p>
        </div>

		</div>
	</div>
</body>
</html>